@import "reset.css";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: gainsboro;
}

canvas {
  width: 800px;
  height: 800px;
  background-color: white;
}

/* common */
.hidden {
  display: none;
}

/* tools */
.tools {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.tools button {
  all: unset;
}

.tools i {
  font-size: 70px;
  margin: 0px 30px 50px 0px;
  transition: transform ease-in-out 0.1s;
  cursor: pointer;
}

.tools i:hover {
  transform: scale(1.2);
  color: whitesmoke;
  text-shadow: 1px 1px 5px gray;
}

.line-width {
  display: flex;
  position: relative;
}

.line-width > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-width > div span {
  margin: 20px 0px;
}

.line-width-value {
  position: absolute;
  left: -110px;
}

.draw-width {
  -webkit-appearance: none;
  width: 100px;
  height: 5px;
  background: whitesmoke;
  border-radius: 5px;
}

.text-input-btn {
  position: relative;
}

.text-input {
  width: 220px;
  height: 50px;
  border: none;
  background-color: inherit;
  font-size: 30px;
  position: absolute;
  left: -240px;
}

.text-input::placeholder {
  font-size: 30px;
}

.text-option {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: absolute;
  top: -200px;
  left: -250px;
}

/*palette*/

.palette {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color-option {
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin-left: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: transform ease-in-out 0.1s;
  box-shadow: 1px 1px 5px gray;
}

.color-option:hover {
  transform: scale(1.2);
}
