body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

canvas {
  width: 800px;
  height: 800px;
  border: 5px solid black;
}

.palette {
  display: flex;
}

.color-option {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
